<div class="row">
<div class="span4"></div><div class="span4"><div id="Mycarousel" class="carousel slide carousel-fade" style="height: 300px; width: 100%;">
  <ol class="carousel-indicators">
    <li data-target="#slide" data-slide-to="0" class="active"></li>
    <li data-target="#slide" data-slide-to="1"></li>
    <li data-target="#slide" data-slide-to="2"></li>
    <li data-target="#slide" data-slide-to="3"></li>
    <li data-target="#slide" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
       <div class="carousel-caption">
    <h3>TITLE</h3>
    <p>Lorem ipsum dolor sid amed...</p>
  </div>
    </div>
    <div class="item">
        <div class="carousel-caption">
    <h3>TITLE</h3>
  </div>
    </div>
    <div class="item">
       <div class="carousel-caption">
    <h3>TITLE</h3>
    <p>Lorem ipsum dolor sid amed...</p>
  </div>
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left " href="#Mycarousel" data-slide="prev">
    &lsaquo;</a>
  <a class="carousel-control right" href="#Mycarousel" data-slide="next">
     &rsaquo;</a>
</div></div>
</div>
<h1>StaticPages#contacts</h1>
<p>Find me in app/views/static_pages/contacts.html.erb</p>
