<h1>Listing articles</h1><%= @publication.length %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @publication.each do |publication| %>
    <tr>
      <td><%= publication.title %></td>
      <td><%= publication.text %></td>
    </tr>
  <% end %>
</table>